In [2]:
import pandas as pd
import matplotlib.pyplot as plt

Bad key "text.kerning_factor" on line 4 in
/home/mglee/anaconda3/envs/save/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.2/matplotlibrc.template
or from the matplotlib source distribution

In [3]:
naver = pd.read_csv("../data/KP_naver_TB_0203.csv")

In [5]:
naver['sid'] = naver['url'].apply(lambda x : x[-3:])

In [12]:
naver.shape[0]

34423

In [14]:
pd.DataFrame(naver.groupby('sid').size().sort_values(ascending=False) / naver.shape[0])

            0
sid
101  0.713012
105  0.183976
102  0.055486
103  0.012695
004  0.012434
100  0.010284
110  0.008628
104  0.001511
123  0.001162
115  0.000174
117  0.000087
161  0.000087
520  0.000029
851  0.000029
811  0.000029
752  0.000029
604  0.000029
581  0.000029
525  0.000029
162  0.000029
469  0.000029
300  0.000029
221  0.000029
216  0.000029
207  0.000029
022  0.000029
154  0.000029
983  0.000029

In [34]:
naver_comment = pd.read_csv("../data/KP_naver_comments_monthlyTop4000.csv")

In [40]:
naver_comment = naver_comment.drop('Unnamed: 0', axis = 1)

In [43]:
naver_comment = naver_comment.drop_duplicates()

In [45]:
naver_comment.head(1)

,sid,title,url,text,reply_count,uid,uname,like,dislike,c_time,cid,pid
0,105,"카카오, 간편결제 플랫폼 키운다",https://n.news.naver.com/mnews/article/comment...,네이버 페이보다 수수료 낮을까?,0.0,aSij,saep****,1.0,0.0,2017-01-19T17:38:29+0900,808915624,808915624

In [47]:
naver_comment.shape

(277890, 12)

In [11]:
import numpy as np
np.mean(naver.comments)

8.075007988844668