In [1]:
import pandas as pd

In [2]:
n_comm = pd.read_csv("../data/KP_naver_comments_monthlyTop4000.csv")
d_comm = pd.read_csv("../data/KP_daum_comments_monthlyTop800.csv")

In [3]:
n_comm.head(1)

,Unnamed: 0,sid,title,url,text,reply_count,uid,uname,like,dislike,c_time,cid,pid
0,0,105,"카카오, 간편결제 플랫폼 키운다",https://n.news.naver.com/mnews/article/comment...,네이버 페이보다 수수료 낮을까?,0.0,aSij,saep****,1.0,0.0,2017-01-19T17:38:29+0900,808915624,808915624

In [18]:
n_c_count = pd.DataFrame(n_comm.groupby('url').size()).reset_index()

In [19]:
n_c_count['key'] = n_c_count['url'].apply(lambda x : x.split("comment/")[1][:-8])

In [32]:
n_c_count_2 = n_c_count.drop('url', axis = 1)

In [37]:
n_c_count_2.columns = ['count', 'key']
n_c_count_2 = n_c_count_2[['key', 'count']]

In [38]:
n_c_count_2

                  key  count
0      001/0008960966     36
1      001/0008964800     20
2      001/0008969233     35
3      001/0009123774      2
4      001/0009337313     32
...               ...    ...
16281  662/0000008200     10
16282  662/0000008208      3
16283  662/0000008209      1
16284  662/0000008210      1
16285  665/0000000199      3

[16286 rows x 2 columns]

In [29]:
d_c_count = pd.DataFrame(d_comm.groupby('org_url').size()).reset_index()

In [39]:
d_c_count.columns = ['key', 'count']
d_c_count

                                         key  count
0     https://v.daum.net/v/20180101164902352      1
1     https://v.daum.net/v/20180103090159916     93
2     https://v.daum.net/v/20180103162120718      1
3     https://v.daum.net/v/20180103170319890      1
4     https://v.daum.net/v/20180105094315995      1
...                                      ...    ...
3107  https://v.daum.net/v/20221229185141370      1
3108  https://v.daum.net/v/20221229193127024    605
3109  https://v.daum.net/v/20221230040619283      2
3110  https://v.daum.net/v/20221230045701450      3
3111  https://v.daum.net/v/20221230110616571      2

[3112 rows x 2 columns]

In [41]:
total_c_count = pd.concat([n_c_count_2, d_c_count])

In [44]:
total_c_count = total_c_count.sort_values('count', ascending=False)

In [47]:
total_c_count = total_c_count.reset_index(drop =  True)

In [56]:
total_c_count[total_c_count['count'] >= 100]

                                        key  count
0    https://v.daum.net/v/20190822101208847   5751
1                            023/0003589070   5574
2    https://v.daum.net/v/20190919131111305   2657
3                            011/0003517888   2081
4                            015/0004605683   2080
..                                      ...    ...
725                          016/0002072826    100
726                          421/0006395127    100
727                          011/0003960071    100
728                          052/0001442090    100
729                          016/0001681025    100

[730 rows x 2 columns]

In [51]:
news = pd.read_csv("../data/news.csv")

In [58]:
total_c_count_over100 = pd.merge(
    left = total_c_count[total_c_count['count'] >= 100],
    right = news[['title', 'body', 'key']],
    how = 'left'
)

In [63]:
total_c_count_over100 = total_c_count_over100.drop_duplicates().reset_index(drop = True)

In [65]:
total_c_count_over100.to_csv("../result/news_sort_by_comments.csv")

100개 이상의 댓글이 달린 기사중에 ESG 관련 기사는 하나도 없음